# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# OS screenshots and temporary files
screen.png
screen_compressed.png
view.xml

# Environments
.env
.venv
venv/
ENV/

# IDEs
.vscode/
.idea/
